body {
	background-color: #ACFBDA;
}
header {
	text-align: center;
}
footer {
	text-align: center;
}
p {
	font-family: Verdana, sans-serif;
}
ul {
	font-variant: small-caps;
}
ol {
	font-family: Arial;
	color: #F0A;
}
li {
	font-size: 13px;
}
ul li a:link {
	color: grey;
}
ul li a:visited {
	color: green;
}
ul li a:hover{
	color: orange;
}
ul li a:active{
	color: blue;
}
.heading {
	font-weight: 700;
}
#my_photo {
	width: 500px;
	height: auto;
}
#eurosport {
	width: 300px;
	height: auto;
}
#email {
	font-style: italic;
}
#img_link {
	text-align: center;
}
#hobbies {
	font-family: courier new;
	font-style: oblique;
}