body {
	background-color: #ACFBDA;
}
.heading {

}
.list {
	color: #10D8A2;
}
#my_photo {
	width: 500px;
	height: auto;
}
#paragraph_3 {
	color: dark green;
}
#eurosport {
	width: 300px;
	height: auto;
}