}
header {
	text-align: center;
	background-color: green;
}
section {
	background-color: rgb(190,24,255);
}
footer {
	text-align: center;
	margin-top:25px;
}
footer a {
	font-family: Verdana;
	text-decoration: none;
}
#my_img {
	height: 300px;
}
img {
	height: 50px;
	width: auto;
}