/* Google Maps */
#map_canvas {
	width: 400px;
	height: 200px;
}
body {
	background-color: #C9DBFF;
	margin-left: 0;
}
p {
	font-family: Bookman Old Style;
}
/* Nav */
nav {
	position: fixed;
	top: 0;
	width: 100%;
	padding-bottom: 10px;
	background-color: #A1AFCC;
}

nav :hover {
	background-color: #C9DBFF;
}
nav button {
	position: relative;
	float: left;
	left: 2%;
	background-color: #DC9680;
	border-radius:50px; 
	padding:5px 5px;
	margin: 10px 10px 3px 10px;
	font-weight: 700;
	letter-spacing: -0.5px;
}
nav button a {
	text-decoration: none;
}
nav button a:visited {
	color: #4876A3;
}
nav button a:hover {
	color: black;
	letter-spacing: 1px;
}

/* Section */
#section {
	margin-top: 50px;
	width: 100%;
}
#left_section {
	position: relative;
	float: left;
	margin: 0;
	top: 50px;
}
#welcome {
	text-align: center;	
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: bold;
	margin: 0;
}
#about {
	width: 500px;
	text-align: justify;
	font-size: 1.15em;
	margin-left: 100px;
	margin-top: 10px;
}
figure {
	margin-left: 0;
	margin-top: 30px;
}
figcaption {
	font-size: 0.9em;
	font-style: oblique;
}
iframe {
	margin-left: 35px;
}
#right_section {
	position: relative;
	float: right;
	margin: 0;
	top: 50px;
	bottom: 60px;
}
#right_section p {
	text-align: center;
	margin-bottom: 0;
}
#my_image {
	height: 250px;
	width: 400px;
	margin-top: 10px;
}
/* Footer */
#footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 60px;
	background-color: #FFAD33;
}
#footer img {
	position: relative;
	height: 35px;
	width: auto;
	vertical-align: middle;
	background-color: transparent;
	border-radius: 20px;
}
#footer img:hover {
	border-radius: 0px;
}

#footer button {
	height: 60px;
	width: 100px;
	margin: 0;
	float: left;
	background-color: #FFB84D;
	border: 1px ridge #996E2E;
	transition: width 0.5s;
}
#footer button:hover {
	background-color:#C9DBFF;
	border: none; 
	width: 150px;
}

#buttons {
	position: relative;
	left: 27%;
}
