}
header {
	text-align: center;
}
section {
	background-color: rgb(190,24,255);

}
footer {
	text-align: center;
	margin-top:25px;
}
footer a {
	font-family: Verdana;
	text-decoration: none;
}
#my_img {
	height: 300px;
}