body { 
	margin: 0;
	font: normal 12px/18px 'Helvetica', Arial, sans-serif;
	background: #44accf;
}

/* Header */
#header {
	text-align: center;
}
#header p{
	font-family: Bookman Old Style;
	font-size: 1.2em;
}
/* Content */
#content { 
	padding: 20px 100px;
	background: #CCCCCC;
}
#content p{
	text-align: justify;
	font-family: elephant;
	font-size: 1.5em;
}
/* Footer */
#footer {
	text-align: center;
}
#buttons {
	position: relative;
	display: inline-block;
}
#buttons button {
	background-color: #44accf;
	border: none;
}
#footer button:hover {
	background-color:#C9DBFF;
	border: none; 
}
#footer img {
	height: 50px;
	width: auto;
	background-color: transparent;
	border-radius: 20px;
}
/* Week 4 */
#eye {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Week 5 */
#feedback {
	display: block;
	height: 200px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}
/* Week 6 */
#stereotype {
	display: block;
	height: 250px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
}