h1 {
	text-transform: uppercase;
	text-shadow: 2px 1px yellow;
	margin-bottom: 3px auto;
}
#header {
	background-color: rgb(205, 235, 0);
	margin-bottom-bottom: 50px;
	text-align: center;
	border: 5px ridge green;
}


 #one {
	margin: 15px auto;
	background-color: red;
}
#amazon img {
	height: 300px;
	width: auto;
}


#amazon_text {
	margin-left: 5px;
}

#two {
	margin: 15px auto;
	background-color: green;
}
#eurosport img {
	height: 300px;
	width: auto;
}
#eurosport_text {
}

#three {
		margin: 15px auto;
		background-color: blue;
}
#wikipedia img {
	height: 300px;
	width: auto;
}
#wikipedia_text {

}

#contact {
	position: fixed;
	background-color: yellow;
	width: 100%;
	text-align: center;

}
p a {
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
}
p {
	text-align: justify;
}